# Gear
PORT=3011

## Mongodb config
MONGODB_HOST=
MONGODB_DB=
MONGODB_USER=
MONGODB_PASSWORD=

## BNBGreenField Config
BNBGREENFIEL_HOST="https://gnfd-testnet-fullnode-tendermint-ap.bnbchain.org"
BNBGREENFIEL_PORT="5600"
BNBGREENFIEL_ENDPOINT="https://gnfd-testnet-sp1.bnbchain.org"
BNBGREENFIELD_ACCOUNT_ADDRESS=""
BNBGREENFIELD_ACCOUNT_PRIVATEKEY=""

## Crypto Config
AES_SECRET_KEY=""

## AI Config
OPENAI_API_KEY=""
PROMPT_IMAGES_PATH=""
MIDJOURNEY_PROXY_URL=''

## Arweave Config
ARWEAVE_PRIVATE_KEY=""
ARWEAVE_PROVIDER_URL="https://bsc-testnet-dataseed.bnbchain.org"
# ARWEAVE_URL="https://node2.irys.xyz"
ARWEAVE_URL="https://devnet.irys.xyz"
ARWEAVE_TOKEN="bnb" # arweave